.field_with_errors {
    display: inline;

    label{
        color: red;
    }
    input, textarea{
        border: 1px red solid;
    }
}

.post{
    width: 300px;
    height: 150px;
    border: 1px solid #f0f0f0;
    padding: 4px;
    display: inline-block;

    .post-title{
        font-size: 18px;
    }
    .post-body{
        background: #f0f0f0;
        border: 1px dotted gray;
    }
}

.comments{
    li{
        list-style: none;
        font-size: 18px;
        margin-top: 5px;
        padding: 5px;

        &:hover{
            background: #f0f0f0;
        }
    }
}